.editor {
  width: 100%;
  height: 100%;
  margin: 0 10px 0 0;
  overflow: scroll;
  background: #fff;

  .list {
    .ant-card {
      width: 100%;
      margin: 0 0 10px 0;
      padding: 10px;
      border: 3px solid skyblue;
      border-radius: 25px;

      .condition-wrapper {
        display: flex;

        .type {
          width: 20%;
        }

        .condition {
          width: 80%;
          padding: 0 0 10px 0;
          border: 2px dashed rgb(202, 176, 31);

          .logic {
            text-align: center;
          }
        }
      }

      .action {
        width: 100%;
        padding: 0 0 10px 0;
        text-align: center;
        border: 2px dashed rgb(3, 98, 240);
      }

      div {
        padding: 8px;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
